<label>Student Name</label>
<p><% if @student.name %><%= @student.name %><% else %>No name<% end %></p>
<label>Student Class</label>
<p><%= @student.student_number %></p>
 
<% if student_signed_in? and @student == current_student %>
	<%= link_to "EDITAR", edit_student_registration_path %>
<% end %>


